#kuti-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /*cursor: none;*/
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centerX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
