.video {
  right: 0;
  top: 0;
  height: 100%;
}

.question-box {
  color: white;
  width: 100%;
}

.question1 {
  display: block;
}

.question2 {
  display: block;
}

.answer-box {
  display: table;
  text-align: left;
  font-size: 40px;
  width: 200%;
}

.answer-box li {
  display: table-cell;
  padding: 10px;
  float: left;
}
