.App {
  text-align: center;
  /*cursor: none;*/
}

video {
  position: fixed;
  z-index: -999;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centerX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
